body{
  background-color: rgb(53, 112, 92);
  color: rgb(242, 242, 243);
}

.timer {
  text-align: center;
  border: solid 4px rgba(0, 0, 0, 0.604);
  margin: 0 15vw;
  padding: 10px;
  border-radius: 15px;
}

.break-session-length {
  text-align: center;
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
}

.break-container {
  position: relative;
  top: 5.3em;
  right: 7em;
}

.session-container {
  position: relative;
  bottom: 4em;
  left: 7em;
}

#break-label {
  font-size: 1.2rem;
}

#break-length{
  padding: 5px;
  font-size: 1.2rem;
}

#session-label {
  font-size: 1.2rem;
}

#session-length{
  padding: 5px;
  font-size: 1.2rem;
}

#timer-label {
  font-size: 1.5rem;
  font-weight: bold;
}

#time-left {
  font-size: 3rem;
  padding: 10px;
  font-weight: bold;
}

button {
  cursor: pointer;
  background-color:  rgb(53, 112, 92);
  color: rgb(242, 242, 243);
  border: none;
  margin: 2px;
  font-size: 1rem;
}

button:hover {
  color: rgba(0, 0, 0, 0.569);
}